:root {
  --close-icon: block;
  --open-icon: none;
  --floats: right;
}

.open {
  --close-icon: none;
  --open-icon: block;
  --floats: left;
}

#iconbtn {
  display: var(--close-icon);
  float: var(--floats);
  top: 50px;
  padding-right: 20px;
  cursor: pointer;
}
#sidebar {
  display: var(--close-icon);
}
#iconbtn2 {
  display: var(--open-icon);
  float: left;
  top: 50px;
  padding-right: 20px;
  cursor: pointer;
}
