#check{
  display: none;
}

#sidebar{
  left: -500px;
}

label #btn-close{
  float: right;
  top: 50px;
  padding-right: 20px;
}

label #btn-check{
  display: none;
}



#check:checked ~ #sidebar{
  display: none;
}

#check:checked ~ label #btn-check{
  display: block;
}

#check:checked ~ label #btn-close{
  display: none;
}